body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 10%;
}
.link-open{
    text-decoration: none;
    background-color: pink;
    color: black;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 15px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}